@import url('https://fonts.googleapis.com/css?family=Lato:100|Quicksand|Work+Sans:100,200,500');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
/* ==========================================================================
Base styles:
========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  text-align: left;
  font-size: 18px;
  background-color: #fdfdfc;
}
/* Fix for responsive images */
img {
  max-width: 100%;
}

/* ==========================================================================
Typography:
========================================================================== */
p{
  line-height: 1.4;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  font-size: 72px;
  letter-spacing: .32em;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px #000000;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px #000000;
}

h4 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 36px;
  letter-spacing: .27em;
  text-transform: uppercase;
  text-align: center;
}

a{
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #1c496d;
  transition: all .2s ease-in-out;
  letter-spacing: .4em;
}
a:hover{
  color: #1b2834;
  /*font-weight: 400;*/
  text-shadow: 2px 2px 10px rgba(0,0,0,0.72);

}

/* ==========================================================================
Layout:
========================================================================== */
section {
  padding: 105px 30px;
}

.slide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  max-height: 800px;
  background-color: white;
  margin: 120px auto;
  box-shadow: 0 30px 40px -15px rgba(0,0,0,0.35);
}
.description {
  width: 50%;
  background-color: white;
  padding: 30px;
  text-align: justify;
}
.imgcard {
  width: 50%;
  height: 600px;
  object-fit: cover;
}
/* ==========================================================================
Header:
========================================================================== */
header{
  padding-top: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/aerial_1.jpg');
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 3px 11px rgba(0, 0, 0, .1);
  z-index: 100;
  text-align: center;
  text-transform: uppercase;
}
ul {
  list-style: none;
  padding: 0;
}
/*ul a {
text-transform: none;
}*/
nav li {
  display: inline-block;
  padding: 0 40px;
}
/* Styles that will need to be overriden in media query */
.hamburger {
  display: none;
  font-size: 20px;
  margin: 10px 0;
  padding-left: 20px;
}
h1 a,
h1 a:hover,
header h2 {
  color: #fff;
}

/* ==========================================================================
Buttons:
========================================================================== */
.arrows {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  position: fixed;
  top: 50%;
  right: 50px;
  z-index: 900;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.72);
  opacity: .72;
  /*max-width: 1600px;*/
  /*left: 0;*/
}
#up, #down, #view-index, #view-list {
  display: none;
  flex-basis: 98%;
  padding: 9px;
}

.view-style{
  /*display: flex;*/
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  position: fixed;
  top: 50%;
  left: 50px;
  z-index: 900;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.72);
  opacity: .72;
  /*max-width: 1600px;*/
  /*right: 0;*/
}

#view-slide{
  display: none;
}

.index-view{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 9px;
  /*height: 50vh;*/
}

/* ==========================================================================
About:
========================================================================== */
#about {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/aerial_2.jpg');
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

#about p {
  max-width: 72%;
  margin: 0 auto;
  color: white;
  line-height: 1.72em;
}

#about h2 {
  max-width: 50%;
  margin: 0 auto 50px auto;
  color: white;
}
/* ==========================================================================
Footer:
========================================================================== */
footer{
  background-color: #111921;
  color: white;
  font-weight: 300;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

/* ==========================================================================
Place your media queries here!
========================================================================== */

@media screen and (max-width: 760px) {
  .slide {
    flex-basis: 98%;
    margin-bottom: 40px;
  }
  .hamburger{
    display: block;
    text-align: left;
		background-color: rgba(255, 255, 255, 0.5);
  }
  nav ul {
    display: none;
  }
  .imgcard, .description {
    flex-basis: 98%;
  }
  footer input {
    margin-right: 0px;
  }

}


/* ==========================================================================
Omitted
========================================================================== */
/*#up, #down {
  justify-content: space-between;
  align-content: center;
  width: 44%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  height: 100vh;
}*/
